<div id="header">
    <div class="header-container">
        <nav id="menu">
            <a href="/" class="header-logo">My Casino</a>
            <div class="searchbox">
                <input type="search" id="gameSearch" placeholder="Search games...">
            </div>
        </nav>
    </div>
</div>
